.is-adn {
  color: #FFF;
  background-color: #d87a68;
  border-color: rgba(174, 65, 44, 0.2);
}

.is-adn:hover, .is-adn.is-hovered {
  background-color: #ce563f;
  border-color: rgba(174, 65, 44, 0.2);
  color: #FFF;
}

.is-adn:focus, .is-adn.is-focused {
  border-color: rgba(174, 65, 44, 0.2);
  color: #FFF;
}

.is-adn:focus:not(:active), .is-adn.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(174, 65, 44, 0.25);
}

.is-adn:active, .is-adn.is-active {
  border-color: #ae412c;
  color: white;
}

.is-adn.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #d87a68;
  text-decoration: underline;
}

.is-adn.is-text:hover, .is-adn.is-text.is-hovered, .is-adn.is-text:focus, .is-adn.is-text.is-focused {
  background-color: #f2f2f2;
  color: #ce563f;
}

.is-adn.is-text:active, .is-adn.is-text.is-active {
  background-color: #f2f2f2;
  color: #ae412c;
}

.is-adn.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-adn.is-outlined {
  background-color: transparent;
  border-color: #ce563f;
  color: #ce563f;
}

.is-adn.is-outlined:hover, .is-adn.is-outlined:focus {
  background-color: #ce563f;
  border-color: rgba(174, 65, 44, 0.2);
  color: #FFF;
}

.is-adn.is-inverted {
  background-color: #FFF;
  color: #ce563f;
}

.is-adn.is-inverted:hover {
  background-color: #edc1b9;
}

.is-adn.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #d87a68;
}

.is-adn.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-adn.is-inverted.is-outlined:hover, .is-adn.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #ce563f;
}

.is-adn.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-bitbucket {
  color: #FFF;
  background-color: #205181;
  border-color: rgba(12, 30, 47, 0.2);
}

.is-bitbucket:hover, .is-bitbucket.is-hovered {
  background-color: #163758;
  border-color: rgba(12, 30, 47, 0.2);
  color: #FFF;
}

.is-bitbucket:focus, .is-bitbucket.is-focused {
  border-color: rgba(12, 30, 47, 0.2);
  color: #FFF;
}

.is-bitbucket:focus:not(:active), .is-bitbucket.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(12, 30, 47, 0.25);
}

.is-bitbucket:active, .is-bitbucket.is-active {
  border-color: #0c1e2f;
  color: white;
}

.is-bitbucket.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #205181;
  text-decoration: underline;
}

.is-bitbucket.is-text:hover, .is-bitbucket.is-text.is-hovered, .is-bitbucket.is-text:focus, .is-bitbucket.is-text.is-focused {
  background-color: #f2f2f2;
  color: #0c1e2f;
}

.is-bitbucket.is-text:active, .is-bitbucket.is-text.is-active {
  background-color: #f2f2f2;
  color: #0c1e2f;
}

.is-bitbucket.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-bitbucket.is-outlined {
  background-color: transparent;
  border-color: #163758;
  color: #163758;
}

.is-bitbucket.is-outlined:hover, .is-bitbucket.is-outlined:focus {
  background-color: #163758;
  border-color: rgba(12, 30, 47, 0.2);
  color: #FFF;
}

.is-bitbucket.is-inverted {
  background-color: #FFF;
  color: #163758;
}

.is-bitbucket.is-inverted:hover {
  background-color: #3984ce;
}

.is-bitbucket.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #205181;
}

.is-bitbucket.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-bitbucket.is-inverted.is-outlined:hover, .is-bitbucket.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #163758;
}

.is-bitbucket.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-dropbox {
  color: #FFF;
  background-color: #1187dc;
  border-color: rgba(9, 77, 126, 0.2);
}

.is-dropbox:hover, .is-dropbox.is-hovered {
  background-color: #0d6aad;
  border-color: rgba(9, 77, 126, 0.2);
  color: #FFF;
}

.is-dropbox:focus, .is-dropbox.is-focused {
  border-color: rgba(9, 77, 126, 0.2);
  color: #FFF;
}

.is-dropbox:focus:not(:active), .is-dropbox.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(9, 77, 126, 0.25);
}

.is-dropbox:active, .is-dropbox.is-active {
  border-color: #094d7e;
  color: white;
}

.is-dropbox.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #1187dc;
  text-decoration: underline;
}

.is-dropbox.is-text:hover, .is-dropbox.is-text.is-hovered, .is-dropbox.is-text:focus, .is-dropbox.is-text.is-focused {
  background-color: #f2f2f2;
  color: #094d7e;
}

.is-dropbox.is-text:active, .is-dropbox.is-text.is-active {
  background-color: #f2f2f2;
  color: #094d7e;
}

.is-dropbox.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-dropbox.is-outlined {
  background-color: transparent;
  border-color: #0d6aad;
  color: #0d6aad;
}

.is-dropbox.is-outlined:hover, .is-dropbox.is-outlined:focus {
  background-color: #0d6aad;
  border-color: rgba(9, 77, 126, 0.2);
  color: #FFF;
}

.is-dropbox.is-inverted {
  background-color: #FFF;
  color: #0d6aad;
}

.is-dropbox.is-inverted:hover {
  background-color: #60b5f3;
}

.is-dropbox.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #1187dc;
}

.is-dropbox.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-dropbox.is-inverted.is-outlined:hover, .is-dropbox.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #0d6aad;
}

.is-dropbox.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-facebook {
  color: #FFF;
  background-color: #3b5898;
  border-color: rgba(31, 46, 78, 0.2);
}

.is-facebook:hover, .is-facebook.is-hovered {
  background-color: #2d4373;
  border-color: rgba(31, 46, 78, 0.2);
  color: #FFF;
}

.is-facebook:focus, .is-facebook.is-focused {
  border-color: rgba(31, 46, 78, 0.2);
  color: #FFF;
}

.is-facebook:focus:not(:active), .is-facebook.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(31, 46, 78, 0.25);
}

.is-facebook:active, .is-facebook.is-active {
  border-color: #1f2e4e;
  color: white;
}

.is-facebook.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #3b5898;
  text-decoration: underline;
}

.is-facebook.is-text:hover, .is-facebook.is-text.is-hovered, .is-facebook.is-text:focus, .is-facebook.is-text.is-focused {
  background-color: #f2f2f2;
  color: #1f2e4e;
}

.is-facebook.is-text:active, .is-facebook.is-text.is-active {
  background-color: #f2f2f2;
  color: #1f2e4e;
}

.is-facebook.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-facebook.is-outlined {
  background-color: transparent;
  border-color: #2d4373;
  color: #2d4373;
}

.is-facebook.is-outlined:hover, .is-facebook.is-outlined:focus {
  background-color: #2d4373;
  border-color: rgba(31, 46, 78, 0.2);
  color: #FFF;
}

.is-facebook.is-inverted {
  background-color: #FFF;
  color: #2d4373;
}

.is-facebook.is-inverted:hover {
  background-color: #718cc8;
}

.is-facebook.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #3b5898;
}

.is-facebook.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-facebook.is-inverted.is-outlined:hover, .is-facebook.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #2d4373;
}

.is-facebook.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-flickr {
  color: #FFF;
  background-color: #ff0085;
  border-color: rgba(153, 0, 80, 0.2);
}

.is-flickr:hover, .is-flickr.is-hovered {
  background-color: #cc006a;
  border-color: rgba(153, 0, 80, 0.2);
  color: #FFF;
}

.is-flickr:focus, .is-flickr.is-focused {
  border-color: rgba(153, 0, 80, 0.2);
  color: #FFF;
}

.is-flickr:focus:not(:active), .is-flickr.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(153, 0, 80, 0.25);
}

.is-flickr:active, .is-flickr.is-active {
  border-color: #990050;
  color: white;
}

.is-flickr.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #ff0085;
  text-decoration: underline;
}

.is-flickr.is-text:hover, .is-flickr.is-text.is-hovered, .is-flickr.is-text:focus, .is-flickr.is-text.is-focused {
  background-color: #f2f2f2;
  color: #990050;
}

.is-flickr.is-text:active, .is-flickr.is-text.is-active {
  background-color: #f2f2f2;
  color: #990050;
}

.is-flickr.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-flickr.is-outlined {
  background-color: transparent;
  border-color: #cc006a;
  color: #cc006a;
}

.is-flickr.is-outlined:hover, .is-flickr.is-outlined:focus {
  background-color: #cc006a;
  border-color: rgba(153, 0, 80, 0.2);
  color: #FFF;
}

.is-flickr.is-inverted {
  background-color: #FFF;
  color: #cc006a;
}

.is-flickr.is-inverted:hover {
  background-color: #ff66b6;
}

.is-flickr.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #ff0085;
}

.is-flickr.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-flickr.is-inverted.is-outlined:hover, .is-flickr.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #cc006a;
}

.is-flickr.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-foursquare {
  color: #FFF;
  background-color: #f94877;
  border-color: rgba(212, 7, 61, 0.2);
}

.is-foursquare:hover, .is-foursquare.is-hovered {
  background-color: #f71752;
  border-color: rgba(212, 7, 61, 0.2);
  color: #FFF;
}

.is-foursquare:focus, .is-foursquare.is-focused {
  border-color: rgba(212, 7, 61, 0.2);
  color: #FFF;
}

.is-foursquare:focus:not(:active), .is-foursquare.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(212, 7, 61, 0.25);
}

.is-foursquare:active, .is-foursquare.is-active {
  border-color: #d4073d;
  color: white;
}

.is-foursquare.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #f94877;
  text-decoration: underline;
}

.is-foursquare.is-text:hover, .is-foursquare.is-text.is-hovered, .is-foursquare.is-text:focus, .is-foursquare.is-text.is-focused {
  background-color: #f2f2f2;
  color: #f71752;
}

.is-foursquare.is-text:active, .is-foursquare.is-text.is-active {
  background-color: #f2f2f2;
  color: #d4073d;
}

.is-foursquare.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-foursquare.is-outlined {
  background-color: transparent;
  border-color: #f71752;
  color: #f71752;
}

.is-foursquare.is-outlined:hover, .is-foursquare.is-outlined:focus {
  background-color: #f71752;
  border-color: rgba(212, 7, 61, 0.2);
  color: #FFF;
}

.is-foursquare.is-inverted {
  background-color: #FFF;
  color: #f71752;
}

.is-foursquare.is-inverted:hover {
  background-color: #fcabc0;
}

.is-foursquare.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #f94877;
}

.is-foursquare.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-foursquare.is-inverted.is-outlined:hover, .is-foursquare.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #f71752;
}

.is-foursquare.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-github {
  color: #FFF;
  background-color: #454545;
  border-color: rgba(18, 18, 18, 0.2);
}

.is-github:hover, .is-github.is-hovered {
  background-color: #2b2b2b;
  border-color: rgba(18, 18, 18, 0.2);
  color: #FFF;
}

.is-github:focus, .is-github.is-focused {
  border-color: rgba(18, 18, 18, 0.2);
  color: #FFF;
}

.is-github:focus:not(:active), .is-github.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(18, 18, 18, 0.25);
}

.is-github:active, .is-github.is-active {
  border-color: #121212;
  color: white;
}

.is-github.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #454545;
  text-decoration: underline;
}

.is-github.is-text:hover, .is-github.is-text.is-hovered, .is-github.is-text:focus, .is-github.is-text.is-focused {
  background-color: #f2f2f2;
  color: #121212;
}

.is-github.is-text:active, .is-github.is-text.is-active {
  background-color: #f2f2f2;
  color: #121212;
}

.is-github.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-github.is-outlined {
  background-color: transparent;
  border-color: #2b2b2b;
  color: #2b2b2b;
}

.is-github.is-outlined:hover, .is-github.is-outlined:focus {
  background-color: #2b2b2b;
  border-color: rgba(18, 18, 18, 0.2);
  color: #FFF;
}

.is-github.is-inverted {
  background-color: #FFF;
  color: #2b2b2b;
}

.is-github.is-inverted:hover {
  background-color: #787878;
}

.is-github.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #454545;
}

.is-github.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-github.is-inverted.is-outlined:hover, .is-github.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #2b2b2b;
}

.is-github.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-google {
  color: #FFF;
  background-color: #dd4b39;
  border-color: rgba(150, 40, 26, 0.2);
}

.is-google:hover, .is-google.is-hovered {
  background-color: #c23321;
  border-color: rgba(150, 40, 26, 0.2);
  color: #FFF;
}

.is-google:focus, .is-google.is-focused {
  border-color: rgba(150, 40, 26, 0.2);
  color: #FFF;
}

.is-google:focus:not(:active), .is-google.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(150, 40, 26, 0.25);
}

.is-google:active, .is-google.is-active {
  border-color: #96281a;
  color: white;
}

.is-google.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #dd4b39;
  text-decoration: underline;
}

.is-google.is-text:hover, .is-google.is-text.is-hovered, .is-google.is-text:focus, .is-google.is-text.is-focused {
  background-color: #f2f2f2;
  color: #c23321;
}

.is-google.is-text:active, .is-google.is-text.is-active {
  background-color: #f2f2f2;
  color: #96281a;
}

.is-google.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-google.is-outlined {
  background-color: transparent;
  border-color: #c23321;
  color: #c23321;
}

.is-google.is-outlined:hover, .is-google.is-outlined:focus {
  background-color: #c23321;
  border-color: rgba(150, 40, 26, 0.2);
  color: #FFF;
}

.is-google.is-inverted {
  background-color: #FFF;
  color: #c23321;
}

.is-google.is-inverted:hover {
  background-color: #ec9a90;
}

.is-google.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #dd4b39;
}

.is-google.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-google.is-inverted.is-outlined:hover, .is-google.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #c23321;
}

.is-google.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-instagram {
  color: #FFF;
  background-color: #3f729b;
  border-color: rgba(33, 60, 83, 0.2);
}

.is-instagram:hover, .is-instagram.is-hovered {
  background-color: #305777;
  border-color: rgba(33, 60, 83, 0.2);
  color: #FFF;
}

.is-instagram:focus, .is-instagram.is-focused {
  border-color: rgba(33, 60, 83, 0.2);
  color: #FFF;
}

.is-instagram:focus:not(:active), .is-instagram.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(33, 60, 83, 0.25);
}

.is-instagram:active, .is-instagram.is-active {
  border-color: #213c53;
  color: white;
}

.is-instagram.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #3f729b;
  text-decoration: underline;
}

.is-instagram.is-text:hover, .is-instagram.is-text.is-hovered, .is-instagram.is-text:focus, .is-instagram.is-text.is-focused {
  background-color: #f2f2f2;
  color: #305777;
}

.is-instagram.is-text:active, .is-instagram.is-text.is-active {
  background-color: #f2f2f2;
  color: #213c53;
}

.is-instagram.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-instagram.is-outlined {
  background-color: transparent;
  border-color: #305777;
  color: #305777;
}

.is-instagram.is-outlined:hover, .is-instagram.is-outlined:focus {
  background-color: #305777;
  border-color: rgba(33, 60, 83, 0.2);
  color: #FFF;
}

.is-instagram.is-inverted {
  background-color: #FFF;
  color: #305777;
}

.is-instagram.is-inverted:hover {
  background-color: #78a4c8;
}

.is-instagram.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #3f729b;
}

.is-instagram.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-instagram.is-inverted.is-outlined:hover, .is-instagram.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #305777;
}

.is-instagram.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-linkedin {
  color: #FFF;
  background-color: #007cb6;
  border-color: rgba(0, 54, 80, 0.2);
}

.is-linkedin:hover, .is-linkedin.is-hovered {
  background-color: #005983;
  border-color: rgba(0, 54, 80, 0.2);
  color: #FFF;
}

.is-linkedin:focus, .is-linkedin.is-focused {
  border-color: rgba(0, 54, 80, 0.2);
  color: #FFF;
}

.is-linkedin:focus:not(:active), .is-linkedin.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(0, 54, 80, 0.25);
}

.is-linkedin:active, .is-linkedin.is-active {
  border-color: #003650;
  color: white;
}

.is-linkedin.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #007cb6;
  text-decoration: underline;
}

.is-linkedin.is-text:hover, .is-linkedin.is-text.is-hovered, .is-linkedin.is-text:focus, .is-linkedin.is-text.is-focused {
  background-color: #f2f2f2;
  color: #005983;
}

.is-linkedin.is-text:active, .is-linkedin.is-text.is-active {
  background-color: #f2f2f2;
  color: #003650;
}

.is-linkedin.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-linkedin.is-outlined {
  background-color: transparent;
  border-color: #005983;
  color: #005983;
}

.is-linkedin.is-outlined:hover, .is-linkedin.is-outlined:focus {
  background-color: #005983;
  border-color: rgba(0, 54, 80, 0.2);
  color: #FFF;
}

.is-linkedin.is-inverted {
  background-color: #FFF;
  color: #005983;
}

.is-linkedin.is-inverted:hover {
  background-color: #1db7ff;
}

.is-linkedin.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #007cb6;
}

.is-linkedin.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-linkedin.is-inverted.is-outlined:hover, .is-linkedin.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #005983;
}

.is-linkedin.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-microsoft {
  color: #FFF;
  background-color: #2672ec;
  border-color: rgba(14, 69, 158, 0.2);
}

.is-microsoft:hover, .is-microsoft.is-hovered {
  background-color: #125acd;
  border-color: rgba(14, 69, 158, 0.2);
  color: #FFF;
}

.is-microsoft:focus, .is-microsoft.is-focused {
  border-color: rgba(14, 69, 158, 0.2);
  color: #FFF;
}

.is-microsoft:focus:not(:active), .is-microsoft.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(14, 69, 158, 0.25);
}

.is-microsoft:active, .is-microsoft.is-active {
  border-color: #0e459e;
  color: white;
}

.is-microsoft.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #2672ec;
  text-decoration: underline;
}

.is-microsoft.is-text:hover, .is-microsoft.is-text.is-hovered, .is-microsoft.is-text:focus, .is-microsoft.is-text.is-focused {
  background-color: #f2f2f2;
  color: #125acd;
}

.is-microsoft.is-text:active, .is-microsoft.is-text.is-active {
  background-color: #f2f2f2;
  color: #0e459e;
}

.is-microsoft.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-microsoft.is-outlined {
  background-color: transparent;
  border-color: #125acd;
  color: #125acd;
}

.is-microsoft.is-outlined:hover, .is-microsoft.is-outlined:focus {
  background-color: #125acd;
  border-color: rgba(14, 69, 158, 0.2);
  color: #FFF;
}

.is-microsoft.is-inverted {
  background-color: #FFF;
  color: #125acd;
}

.is-microsoft.is-inverted:hover {
  background-color: #84aff4;
}

.is-microsoft.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #2672ec;
}

.is-microsoft.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-microsoft.is-inverted.is-outlined:hover, .is-microsoft.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #125acd;
}

.is-microsoft.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-odnoklassniki {
  color: #FFF;
  background-color: #f4731c;
  border-color: rgba(162, 70, 8, 0.2);
}

.is-odnoklassniki:hover, .is-odnoklassniki.is-hovered {
  background-color: #d35b0a;
  border-color: rgba(162, 70, 8, 0.2);
  color: #FFF;
}

.is-odnoklassniki:focus, .is-odnoklassniki.is-focused {
  border-color: rgba(162, 70, 8, 0.2);
  color: #FFF;
}

.is-odnoklassniki:focus:not(:active), .is-odnoklassniki.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(162, 70, 8, 0.25);
}

.is-odnoklassniki:active, .is-odnoklassniki.is-active {
  border-color: #a24608;
  color: white;
}

.is-odnoklassniki.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #f4731c;
  text-decoration: underline;
}

.is-odnoklassniki.is-text:hover, .is-odnoklassniki.is-text.is-hovered, .is-odnoklassniki.is-text:focus, .is-odnoklassniki.is-text.is-focused {
  background-color: #f2f2f2;
  color: #d35b0a;
}

.is-odnoklassniki.is-text:active, .is-odnoklassniki.is-text.is-active {
  background-color: #f2f2f2;
  color: #a24608;
}

.is-odnoklassniki.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-odnoklassniki.is-outlined {
  background-color: transparent;
  border-color: #d35b0a;
  color: #d35b0a;
}

.is-odnoklassniki.is-outlined:hover, .is-odnoklassniki.is-outlined:focus {
  background-color: #d35b0a;
  border-color: rgba(162, 70, 8, 0.2);
  color: #FFF;
}

.is-odnoklassniki.is-inverted {
  background-color: #FFF;
  color: #d35b0a;
}

.is-odnoklassniki.is-inverted:hover {
  background-color: #f9af7d;
}

.is-odnoklassniki.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #f4731c;
}

.is-odnoklassniki.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-odnoklassniki.is-inverted.is-outlined:hover, .is-odnoklassniki.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #d35b0a;
}

.is-odnoklassniki.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-openid {
  color: #FFF;
  background-color: #f9a971;
  border-color: rgba(245, 111, 15, 0.2);
}

.is-openid:hover, .is-openid.is-hovered {
  background-color: #f78c40;
  border-color: rgba(245, 111, 15, 0.2);
  color: #FFF;
}

.is-openid:focus, .is-openid.is-focused {
  border-color: rgba(245, 111, 15, 0.2);
  color: #FFF;
}

.is-openid:focus:not(:active), .is-openid.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(245, 111, 15, 0.25);
}

.is-openid:active, .is-openid.is-active {
  border-color: #f56f0f;
  color: white;
}

.is-openid.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #f9a971;
  text-decoration: underline;
}

.is-openid.is-text:hover, .is-openid.is-text.is-hovered, .is-openid.is-text:focus, .is-openid.is-text.is-focused {
  background-color: #f2f2f2;
  color: #f78c40;
}

.is-openid.is-text:active, .is-openid.is-text.is-active {
  background-color: #f2f2f2;
  color: #f56f0f;
}

.is-openid.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-openid.is-outlined {
  background-color: transparent;
  border-color: #f78c40;
  color: #f78c40;
}

.is-openid.is-outlined:hover, .is-openid.is-outlined:focus {
  background-color: #f78c40;
  border-color: rgba(245, 111, 15, 0.2);
  color: #FFF;
}

.is-openid.is-inverted {
  background-color: #FFF;
  color: #f78c40;
}

.is-openid.is-inverted:hover {
  background-color: #fde4d3;
}

.is-openid.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #f9a971;
}

.is-openid.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-openid.is-inverted.is-outlined:hover, .is-openid.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #f78c40;
}

.is-openid.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-pinterest {
  color: #FFF;
  background-color: #ee0a23;
  border-color: rgba(140, 6, 21, 0.2);
}

.is-pinterest:hover, .is-pinterest.is-hovered {
  background-color: #bd081c;
  border-color: rgba(140, 6, 21, 0.2);
  color: #FFF;
}

.is-pinterest:focus, .is-pinterest.is-focused {
  border-color: rgba(140, 6, 21, 0.2);
  color: #FFF;
}

.is-pinterest:focus:not(:active), .is-pinterest.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(140, 6, 21, 0.25);
}

.is-pinterest:active, .is-pinterest.is-active {
  border-color: #8c0615;
  color: white;
}

.is-pinterest.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #ee0a23;
  text-decoration: underline;
}

.is-pinterest.is-text:hover, .is-pinterest.is-text.is-hovered, .is-pinterest.is-text:focus, .is-pinterest.is-text.is-focused {
  background-color: #f2f2f2;
  color: #bd081c;
}

.is-pinterest.is-text:active, .is-pinterest.is-text.is-active {
  background-color: #f2f2f2;
  color: #8c0615;
}

.is-pinterest.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-pinterest.is-outlined {
  background-color: transparent;
  border-color: #bd081c;
  color: #bd081c;
}

.is-pinterest.is-outlined:hover, .is-pinterest.is-outlined:focus {
  background-color: #bd081c;
  border-color: rgba(140, 6, 21, 0.2);
  color: #FFF;
}

.is-pinterest.is-inverted {
  background-color: #FFF;
  color: #bd081c;
}

.is-pinterest.is-inverted:hover {
  background-color: #f96576;
}

.is-pinterest.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #ee0a23;
}

.is-pinterest.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-pinterest.is-inverted.is-outlined:hover, .is-pinterest.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #bd081c;
}

.is-pinterest.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-reddit {
  color: #FFF;
  background-color: #86b2db;
  border-color: rgba(58, 128, 193, 0.2);
}

.is-reddit:hover, .is-reddit.is-hovered {
  background-color: #5f99cf;
  border-color: rgba(58, 128, 193, 0.2);
  color: #FFF;
}

.is-reddit:focus, .is-reddit.is-focused {
  border-color: rgba(58, 128, 193, 0.2);
  color: #FFF;
}

.is-reddit:focus:not(:active), .is-reddit.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(58, 128, 193, 0.25);
}

.is-reddit:active, .is-reddit.is-active {
  border-color: #3a80c1;
  color: white;
}

.is-reddit.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #86b2db;
  text-decoration: underline;
}

.is-reddit.is-text:hover, .is-reddit.is-text.is-hovered, .is-reddit.is-text:focus, .is-reddit.is-text.is-focused {
  background-color: #f2f2f2;
  color: #5f99cf;
}

.is-reddit.is-text:active, .is-reddit.is-text.is-active {
  background-color: #f2f2f2;
  color: #3a80c1;
}

.is-reddit.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-reddit.is-outlined {
  background-color: transparent;
  border-color: #5f99cf;
  color: #5f99cf;
}

.is-reddit.is-outlined:hover, .is-reddit.is-outlined:focus {
  background-color: #5f99cf;
  border-color: rgba(58, 128, 193, 0.2);
  color: #FFF;
}

.is-reddit.is-inverted {
  background-color: #FFF;
  color: #5f99cf;
}

.is-reddit.is-inverted:hover {
  background-color: #d5e4f2;
}

.is-reddit.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #86b2db;
}

.is-reddit.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-reddit.is-inverted.is-outlined:hover, .is-reddit.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #5f99cf;
}

.is-reddit.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-soundcloud {
  color: #FFF;
  background-color: #ffa033;
  border-color: rgba(204, 109, 0, 0.2);
}

.is-soundcloud:hover, .is-soundcloud.is-hovered {
  background-color: #ff8800;
  border-color: rgba(204, 109, 0, 0.2);
  color: #FFF;
}

.is-soundcloud:focus, .is-soundcloud.is-focused {
  border-color: rgba(204, 109, 0, 0.2);
  color: #FFF;
}

.is-soundcloud:focus:not(:active), .is-soundcloud.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(204, 109, 0, 0.25);
}

.is-soundcloud:active, .is-soundcloud.is-active {
  border-color: #cc6d00;
  color: white;
}

.is-soundcloud.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #ffa033;
  text-decoration: underline;
}

.is-soundcloud.is-text:hover, .is-soundcloud.is-text.is-hovered, .is-soundcloud.is-text:focus, .is-soundcloud.is-text.is-focused {
  background-color: #f2f2f2;
  color: #ff8800;
}

.is-soundcloud.is-text:active, .is-soundcloud.is-text.is-active {
  background-color: #f2f2f2;
  color: #cc6d00;
}

.is-soundcloud.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-soundcloud.is-outlined {
  background-color: transparent;
  border-color: #ff8800;
  color: #ff8800;
}

.is-soundcloud.is-outlined:hover, .is-soundcloud.is-outlined:focus {
  background-color: #ff8800;
  border-color: rgba(204, 109, 0, 0.2);
  color: #FFF;
}

.is-soundcloud.is-inverted {
  background-color: #FFF;
  color: #ff8800;
}

.is-soundcloud.is-inverted:hover {
  background-color: #ffcf99;
}

.is-soundcloud.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #ffa033;
}

.is-soundcloud.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-soundcloud.is-inverted.is-outlined:hover, .is-soundcloud.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #ff8800;
}

.is-soundcloud.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-telegram {
  color: #FFF;
  background-color: #00aaff;
  border-color: rgba(0, 102, 153, 0.2);
}

.is-telegram:hover, .is-telegram.is-hovered {
  background-color: #0088cc;
  border-color: rgba(0, 102, 153, 0.2);
  color: #FFF;
}

.is-telegram:focus, .is-telegram.is-focused {
  border-color: rgba(0, 102, 153, 0.2);
  color: #FFF;
}

.is-telegram:focus:not(:active), .is-telegram.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(0, 102, 153, 0.25);
}

.is-telegram:active, .is-telegram.is-active {
  border-color: #006699;
  color: white;
}

.is-telegram.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #00aaff;
  text-decoration: underline;
}

.is-telegram.is-text:hover, .is-telegram.is-text.is-hovered, .is-telegram.is-text:focus, .is-telegram.is-text.is-focused {
  background-color: #f2f2f2;
  color: #0088cc;
}

.is-telegram.is-text:active, .is-telegram.is-text.is-active {
  background-color: #f2f2f2;
  color: #006699;
}

.is-telegram.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-telegram.is-outlined {
  background-color: transparent;
  border-color: #0088cc;
  color: #0088cc;
}

.is-telegram.is-outlined:hover, .is-telegram.is-outlined:focus {
  background-color: #0088cc;
  border-color: rgba(0, 102, 153, 0.2);
  color: #FFF;
}

.is-telegram.is-inverted {
  background-color: #FFF;
  color: #0088cc;
}

.is-telegram.is-inverted:hover {
  background-color: #66ccff;
}

.is-telegram.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #00aaff;
}

.is-telegram.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-telegram.is-inverted.is-outlined:hover, .is-telegram.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #0088cc;
}

.is-telegram.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-tumblr {
  color: #FFF;
  background-color: #485f7c;
  border-color: rgba(34, 45, 60, 0.2);
}

.is-tumblr:hover, .is-tumblr.is-hovered {
  background-color: #35465c;
  border-color: rgba(34, 45, 60, 0.2);
  color: #FFF;
}

.is-tumblr:focus, .is-tumblr.is-focused {
  border-color: rgba(34, 45, 60, 0.2);
  color: #FFF;
}

.is-tumblr:focus:not(:active), .is-tumblr.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(34, 45, 60, 0.25);
}

.is-tumblr:active, .is-tumblr.is-active {
  border-color: #222d3c;
  color: white;
}

.is-tumblr.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #485f7c;
  text-decoration: underline;
}

.is-tumblr.is-text:hover, .is-tumblr.is-text.is-hovered, .is-tumblr.is-text:focus, .is-tumblr.is-text.is-focused {
  background-color: #f2f2f2;
  color: #35465c;
}

.is-tumblr.is-text:active, .is-tumblr.is-text.is-active {
  background-color: #f2f2f2;
  color: #222d3c;
}

.is-tumblr.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-tumblr.is-outlined {
  background-color: transparent;
  border-color: #35465c;
  color: #35465c;
}

.is-tumblr.is-outlined:hover, .is-tumblr.is-outlined:focus {
  background-color: #35465c;
  border-color: rgba(34, 45, 60, 0.2);
  color: #FFF;
}

.is-tumblr.is-inverted {
  background-color: #FFF;
  color: #35465c;
}

.is-tumblr.is-inverted:hover {
  background-color: #7891b2;
}

.is-tumblr.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #485f7c;
}

.is-tumblr.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-tumblr.is-inverted.is-outlined:hover, .is-tumblr.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #35465c;
}

.is-tumblr.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-twitter {
  color: #FFF;
  background-color: #4db5f5;
  border-color: rgba(12, 133, 208, 0.2);
}

.is-twitter:hover, .is-twitter.is-hovered {
  background-color: #1da1f2;
  border-color: rgba(12, 133, 208, 0.2);
  color: #FFF;
}

.is-twitter:focus, .is-twitter.is-focused {
  border-color: rgba(12, 133, 208, 0.2);
  color: #FFF;
}

.is-twitter:focus:not(:active), .is-twitter.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(12, 133, 208, 0.25);
}

.is-twitter:active, .is-twitter.is-active {
  border-color: #0c85d0;
  color: white;
}

.is-twitter.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #4db5f5;
  text-decoration: underline;
}

.is-twitter.is-text:hover, .is-twitter.is-text.is-hovered, .is-twitter.is-text:focus, .is-twitter.is-text.is-focused {
  background-color: #f2f2f2;
  color: #1da1f2;
}

.is-twitter.is-text:active, .is-twitter.is-text.is-active {
  background-color: #f2f2f2;
  color: #0c85d0;
}

.is-twitter.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-twitter.is-outlined {
  background-color: transparent;
  border-color: #1da1f2;
  color: #1da1f2;
}

.is-twitter.is-outlined:hover, .is-twitter.is-outlined:focus {
  background-color: #1da1f2;
  border-color: rgba(12, 133, 208, 0.2);
  color: #FFF;
}

.is-twitter.is-inverted {
  background-color: #FFF;
  color: #1da1f2;
}

.is-twitter.is-inverted:hover {
  background-color: #aeddfa;
}

.is-twitter.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #4db5f5;
}

.is-twitter.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-twitter.is-inverted.is-outlined:hover, .is-twitter.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #1da1f2;
}

.is-twitter.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-vimeo {
  color: #FFF;
  background-color: #49c6ee;
  border-color: rgba(18, 149, 191, 0.2);
}

.is-vimeo:hover, .is-vimeo.is-hovered {
  background-color: #1ab7ea;
  border-color: rgba(18, 149, 191, 0.2);
  color: #FFF;
}

.is-vimeo:focus, .is-vimeo.is-focused {
  border-color: rgba(18, 149, 191, 0.2);
  color: #FFF;
}

.is-vimeo:focus:not(:active), .is-vimeo.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(18, 149, 191, 0.25);
}

.is-vimeo:active, .is-vimeo.is-active {
  border-color: #1295bf;
  color: white;
}

.is-vimeo.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #49c6ee;
  text-decoration: underline;
}

.is-vimeo.is-text:hover, .is-vimeo.is-text.is-hovered, .is-vimeo.is-text:focus, .is-vimeo.is-text.is-focused {
  background-color: #f2f2f2;
  color: #1ab7ea;
}

.is-vimeo.is-text:active, .is-vimeo.is-text.is-active {
  background-color: #f2f2f2;
  color: #1295bf;
}

.is-vimeo.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-vimeo.is-outlined {
  background-color: transparent;
  border-color: #1ab7ea;
  color: #1ab7ea;
}

.is-vimeo.is-outlined:hover, .is-vimeo.is-outlined:focus {
  background-color: #1ab7ea;
  border-color: rgba(18, 149, 191, 0.2);
  color: #FFF;
}

.is-vimeo.is-inverted {
  background-color: #FFF;
  color: #1ab7ea;
}

.is-vimeo.is-inverted:hover {
  background-color: #a6e3f7;
}

.is-vimeo.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #49c6ee;
}

.is-vimeo.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-vimeo.is-inverted.is-outlined:hover, .is-vimeo.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #1ab7ea;
}

.is-vimeo.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-vk {
  color: #FFF;
  background-color: #587fae;
  border-color: rgba(52, 77, 108, 0.2);
}

.is-vk:hover, .is-vk.is-hovered {
  background-color: #45668e;
  border-color: rgba(52, 77, 108, 0.2);
  color: #FFF;
}

.is-vk:focus, .is-vk.is-focused {
  border-color: rgba(52, 77, 108, 0.2);
  color: #FFF;
}

.is-vk:focus:not(:active), .is-vk.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(52, 77, 108, 0.25);
}

.is-vk:active, .is-vk.is-active {
  border-color: #344d6c;
  color: white;
}

.is-vk.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #587fae;
  text-decoration: underline;
}

.is-vk.is-text:hover, .is-vk.is-text.is-hovered, .is-vk.is-text:focus, .is-vk.is-text.is-focused {
  background-color: #f2f2f2;
  color: #45668e;
}

.is-vk.is-text:active, .is-vk.is-text.is-active {
  background-color: #f2f2f2;
  color: #344d6c;
}

.is-vk.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-vk.is-outlined {
  background-color: transparent;
  border-color: #45668e;
  color: #45668e;
}

.is-vk.is-outlined:hover, .is-vk.is-outlined:focus {
  background-color: #45668e;
  border-color: rgba(52, 77, 108, 0.2);
  color: #FFF;
}

.is-vk.is-inverted {
  background-color: #FFF;
  color: #45668e;
}

.is-vk.is-inverted:hover {
  background-color: #9db4cf;
}

.is-vk.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #587fae;
}

.is-vk.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-vk.is-inverted.is-outlined:hover, .is-vk.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #45668e;
}

.is-vk.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-wechat {
  color: #FFF;
  background-color: #95cf45;
  border-color: rgba(95, 138, 36, 0.2);
}

.is-wechat:hover, .is-wechat.is-hovered {
  background-color: #7bb32e;
  border-color: rgba(95, 138, 36, 0.2);
  color: #FFF;
}

.is-wechat:focus, .is-wechat.is-focused {
  border-color: rgba(95, 138, 36, 0.2);
  color: #FFF;
}

.is-wechat:focus:not(:active), .is-wechat.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(95, 138, 36, 0.25);
}

.is-wechat:active, .is-wechat.is-active {
  border-color: #5f8a24;
  color: white;
}

.is-wechat.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #95cf45;
  text-decoration: underline;
}

.is-wechat.is-text:hover, .is-wechat.is-text.is-hovered, .is-wechat.is-text:focus, .is-wechat.is-text.is-focused {
  background-color: #f2f2f2;
  color: #7bb32e;
}

.is-wechat.is-text:active, .is-wechat.is-text.is-active {
  background-color: #f2f2f2;
  color: #5f8a24;
}

.is-wechat.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-wechat.is-outlined {
  background-color: transparent;
  border-color: #7bb32e;
  color: #7bb32e;
}

.is-wechat.is-outlined:hover, .is-wechat.is-outlined:focus {
  background-color: #7bb32e;
  border-color: rgba(95, 138, 36, 0.2);
  color: #FFF;
}

.is-wechat.is-inverted {
  background-color: #FFF;
  color: #7bb32e;
}

.is-wechat.is-inverted:hover {
  background-color: #c3e496;
}

.is-wechat.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #95cf45;
}

.is-wechat.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-wechat.is-inverted.is-outlined:hover, .is-wechat.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #7bb32e;
}

.is-wechat.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-whatsapp {
  color: #FFF;
  background-color: #4be083;
  border-color: rgba(29, 168, 81, 0.2);
}

.is-whatsapp:hover, .is-whatsapp.is-hovered {
  background-color: #25d366;
  border-color: rgba(29, 168, 81, 0.2);
  color: #FFF;
}

.is-whatsapp:focus, .is-whatsapp.is-focused {
  border-color: rgba(29, 168, 81, 0.2);
  color: #FFF;
}

.is-whatsapp:focus:not(:active), .is-whatsapp.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(29, 168, 81, 0.25);
}

.is-whatsapp:active, .is-whatsapp.is-active {
  border-color: #1da851;
  color: white;
}

.is-whatsapp.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #4be083;
  text-decoration: underline;
}

.is-whatsapp.is-text:hover, .is-whatsapp.is-text.is-hovered, .is-whatsapp.is-text:focus, .is-whatsapp.is-text.is-focused {
  background-color: #f2f2f2;
  color: #25d366;
}

.is-whatsapp.is-text:active, .is-whatsapp.is-text.is-active {
  background-color: #f2f2f2;
  color: #1da851;
}

.is-whatsapp.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-whatsapp.is-outlined {
  background-color: transparent;
  border-color: #25d366;
  color: #25d366;
}

.is-whatsapp.is-outlined:hover, .is-whatsapp.is-outlined:focus {
  background-color: #25d366;
  border-color: rgba(29, 168, 81, 0.2);
  color: #FFF;
}

.is-whatsapp.is-inverted {
  background-color: #FFF;
  color: #25d366;
}

.is-whatsapp.is-inverted:hover {
  background-color: #a2efbf;
}

.is-whatsapp.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #4be083;
}

.is-whatsapp.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-whatsapp.is-inverted.is-outlined:hover, .is-whatsapp.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #25d366;
}

.is-whatsapp.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}

.is-yahoo {
  color: #FFF;
  background-color: #720e9e;
  border-color: rgba(46, 6, 64, 0.2);
}

.is-yahoo:hover, .is-yahoo.is-hovered {
  background-color: #500a6f;
  border-color: rgba(46, 6, 64, 0.2);
  color: #FFF;
}

.is-yahoo:focus, .is-yahoo.is-focused {
  border-color: rgba(46, 6, 64, 0.2);
  color: #FFF;
}

.is-yahoo:focus:not(:active), .is-yahoo.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(46, 6, 64, 0.25);
}

.is-yahoo:active, .is-yahoo.is-active {
  border-color: #2e0640;
  color: white;
}

.is-yahoo.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #720e9e;
  text-decoration: underline;
}

.is-yahoo.is-text:hover, .is-yahoo.is-text.is-hovered, .is-yahoo.is-text:focus, .is-yahoo.is-text.is-focused {
  background-color: #f2f2f2;
  color: #500a6f;
}

.is-yahoo.is-text:active, .is-yahoo.is-text.is-active {
  background-color: #f2f2f2;
  color: #2e0640;
}

.is-yahoo.is-text[disabled] {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.is-yahoo.is-outlined {
  background-color: transparent;
  border-color: #500a6f;
  color: #500a6f;
}

.is-yahoo.is-outlined:hover, .is-yahoo.is-outlined:focus {
  background-color: #500a6f;
  border-color: rgba(46, 6, 64, 0.2);
  color: #FFF;
}

.is-yahoo.is-inverted {
  background-color: #FFF;
  color: #500a6f;
}

.is-yahoo.is-inverted:hover {
  background-color: #af27eb;
}

.is-yahoo.is-inverted[disabled] {
  background-color: white;
  border-color: transparent;
  box-shadow: none;
  color: #720e9e;
}

.is-yahoo.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.is-yahoo.is-inverted.is-outlined:hover, .is-yahoo.is-inverted.is-outlined:focus {
  background-color: #FFF;
  color: #500a6f;
}

.is-yahoo.is-inverted.is-outlined[disabled] {
  background-color: transparent;
  border-color: #FFF;
  box-shadow: none;
  color: #FFF;
}
